@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
* {
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
  background: white;
}
/*::-webkit-scrollbar {
  width: 0;
}*/
/*Hintergründe gestalten*/
.hintergrunddiv {
  width: 100%;
  height: 100vh;
  z-index: 0;
}
#bgweltraum {
  background: rgb(8,2,116);
  background: -moz-linear-gradient(0deg, rgba(8,2,116,1) 0%, rgba(2,0,36,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(8,2,116,1) 0%, rgba(2,0,36,1) 100%);
  background: linear-gradient(0deg, rgba(8,2,116,1) 0%, rgba(2,0,36,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#080274",endColorstr="#020024",GradientType=1);
}
#bgrackete {
  background: rgb(2,70,116);
  background: -moz-linear-gradient(0deg, rgba(2,70,116,1) 0%, rgba(8,2,116,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(2,70,116,1) 0%, rgba(8,2,116,1) 100%);
  background: linear-gradient(0deg, rgba(2,70,116,1) 0%, rgba(8,2,116,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#024674",endColorstr="#080274",GradientType=1);
}
#bgflugzeug {
  background: rgb(6,144,199);
  background: -moz-linear-gradient(0deg, rgba(6,144,199,1) 0%, rgba(2,70,116,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(6,144,199,1) 0%, rgba(2,70,116,1) 100%);
  background: linear-gradient(0deg, rgba(6,144,199,1) 0%, rgba(2,70,116,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0690c7",endColorstr="#024674",GradientType=1);
}
#bgstadt {
  background: rgb(170,231,255);
  background: -moz-linear-gradient(0deg, rgba(170,231,255,0.9609472724828827) 0%, rgba(6,144,199,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(170,231,255,0.9609472724828827) 0%, rgba(6,144,199,1) 100%);
  background: linear-gradient(0deg, rgba(170,231,255,0.9609472724828827) 0%, rgba(6,144,199,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aae7ff",endColorstr="#0690c7",GradientType=1);
}
#bgstrand {
  background: #aae7ff;
}
#bgwasser {
  background: rgb(111 202 225);
}
#bgunten {
  background: rgb(176 137 0);
}
/*Welraum*/
#planet1 {
  border-radius: 60%;
  background: rgb(85,48,4);
  background: linear-gradient(98deg, rgba(85,48,4,1) 0%, rgba(121,86,9,1) 35%, rgba(194,132,4,1) 100%);
  background: -moz-linear-gradient(98deg, rgba(85,48,4,1) 0%, rgba(121,86,9,1) 35%, rgba(194,132,4,1) 100%);
  background: -webkit-linear-gradient(98deg, rgba(85,48,4,1) 0%, rgba(121,86,9,1) 35%, rgba(194,132,4,1) 100%);
  background: linear-gradient(98deg, rgba(85,48,4,1) 0%, rgba(121,86,9,1) 35%, rgba(194,132,4,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020020",endColorstr="#0e064b",GradientType=1);
  z-index: 2;
  width: 18vh;
  height: 18%;
  position: absolute;
  top: 20%;
  left: 17%;
}
#planet2 {
  background: rgb(31,31,31);
  background: -moz-linear-gradient(98deg, rgba(31,31,31,1) 0%, rgba(75,76,78,1) 65%, rgba(126,128,126,1) 100%);
  background: -webkit-linear-gradient(98deg, rgba(31,31,31,1) 0%, rgba(75,76,78,1) 65%, rgba(126,128,126,1) 100%);
  background: linear-gradient(98deg, rgba(31,31,31,1) 0%, rgba(75,76,78,1) 65%, rgba(126,128,126,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f1f1f",endColorstr="#7e807e",GradientType=1);
  z-index: 2;
  width: 18vh;
  height: 18%;
  position: absolute;
  top: 60%;
  right: 25%;
  border-radius: 50%;
}
.stern {
  background: white;
  width: 0.5vh;
  height: 0.5%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}
.stern2 {
  background: white;
  width: 0.5vh;
  height: 0.5%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}
#begruzung {
  font-size: 11vh;
  font-family: 'Play', sans-serif;
  color: white;
  position: absolute;
  top: 5%;
  right: 5%;
  text-shadow: rgb(187, 1, 1) 0.7vh 0vh 0vh;
}
/*bg rackete*/
#text2 {
  font-size: 6vh;
  color: white;
  position: absolute;
  top: 156%;
  right: 4%;
}
#koerper{             
  width: 40vw;
  height: 20vh;
  border: 5px solid #605e5e;
  background: rgb(255, 255, 255);
  -webkit-border-radius: 80%;
  -moz-border-radius: 80%;
  border-radius: 80%;
  -moz-transform: rotate(101deg);
  -webkit-transform: rotate(101deg);
  -o-transform: rotate(101deg);
  -ms-transform: rotate(101deg);
  transform: rotate(101deg);
  position: absolute;
  top: 142%;
  left: 2%;
  z-index: 3;
}
#duese{
  width: 10vw;
  height: 19vh;
  border-radius: 189px 200px 11px 10px;
  -webkit-border-radius: 189px 200px 11px 10px;
  -moz-border-radius: 189px 200px 11px 10px;
  background: rgb(193,25,25);
  background: -moz-linear-gradient(0deg, rgba(193,25,25,1) 0%, rgba(255,26,26,1) 14%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(193,25,25,1) 0%, rgba(255,26,26,1) 14%, rgba(255,255,255,1) 100%);
  background: linear-gradient(0deg, rgba(193,25,25,1) 0%, rgba(255,26,26,1) 14%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c11919",endColorstr="#ffffff",GradientType=1);
  border: 5px solid #605e5e;
  position: absolute;
  top: 176%;
  left: 13%;
  -moz-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  z-index: 4;
}
.flame{
	width: 10vw;
  height: 19vh;
	background:linear-gradient(-45deg, red, orange);
	border-radius: 150px 150px 0px 150px;
	transform:rotate(-135deg);
	animation:.1s flame infinite;
	filter:blur(10px);
	position: absolute;
  top: 200%;
  left: 6%;
	box-shadow:17px 20px 90px #700;
	border-left-width:25px;
	border-top-width:25px;
  -moz-transform: rotate(-80deg);
  -webkit-transform: rotate(-80deg);
  -o-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  transform: rotate(-80deg);
  z-index: 3;
}
.flame:after,
.flame:before{
		content:'';
		width: 10vw;
    height: 19vh;
		display:block;
		position:absolute;
		background:linear-gradient(-45deg, red, orange);
		animation:.2s flame infinite;
		transform:scale(.8) rotate(20deg);
		border-radius: 100px 100px 0px 100px;
		top:20px;
	}
.flame:before{
		animation-duration:.09s;
		transform:scale(.9) rotate(-15deg) translate(10px, 0px);
	}

@keyframes flame{
  0% {height:10vh; width:19vw;}
  50% {height:8vh; width:18vw;}
  100% {height:10vh; width:19vw;}
}
#fenster1 {
  position: absolute;
  top: 150%;
  left: 20.5%;
  width: 4vw;
  height: 5vh;
  background: #a8ccd7; 
  border-radius: 26%;
  -webkit-border-radius: 26%;
  -moz-border-radius: 26%;
  -moz-transform: rotate(-78deg);
  -webkit-transform: rotate(-78deg);
  -o-transform: rotate(-80deg);
  -ms-transform: rotate(-78deg);
  transform: rotate(-78deg);
  z-index: 5;
}
#fenster2 {
  position: absolute;
  top: 136%;
  left: 22.3%;
  width: 4vw;
  height: 5vh;
  background: #a8ccd7; 
  border-radius: 26%;
  -webkit-border-radius: 26%;
  -moz-border-radius: 26%;
  -moz-transform: rotate(-78deg);
  -webkit-transform: rotate(-78deg);
  -o-transform: rotate(-80deg);
  -ms-transform: rotate(-78deg);
  transform: rotate(-78deg);
  z-index: 5;
}
#fenster3 {
  position: absolute;
  top: 164%;
  left: 18.8%; 
  width: 4vw;
  height: 5vh;
  background: #a8ccd7; 
  border-radius: 26%;
  -webkit-border-radius: 26%;
  -moz-border-radius: 26%;
  -moz-transform: rotate(-78deg);
  -webkit-transform: rotate(-78deg);
  -o-transform: rotate(-80deg);
  -ms-transform: rotate(-78deg);
  transform: rotate(-78deg);
  z-index: 5;
}
#flugzeug {
  position: absolute;
  right: 48%;
  top: 176%;
  width: 50%;
  height: 50vh;
  -moz-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}